
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #fff;
}
a:link {
	text-decoration: none;
}

a img {
	border: 0;
}
