/* smartphone css */

/* tablet css */
@media all and (min-width: 768px){
	.tab-bar {
		width: 100%;
		position: fixed;
		margin: 0;
	}
	.tab-bar a{
	    text-decoration: none;
	    float: left;
	    margin-top: 6px;
		margin-left: 27px;
		font-size: 12px;
	font-weight: 300;
	}
	.navi {
	}

/* PC css */
@media all and (min-width: 960px){
	
	}	

